<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NES PI{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('v1/css/owl.carousel.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('v1/css/owl.theme.default.css') }}" rel="stylesheet" />
        <link href="{{ asset('v1/css/main.css') }}" rel="stylesheet" />
    </head>
    <body id="body">
        <div id="container" class="container">
          <div id="header" class="header">
            {% block header %}{% endblock %}
          </div>

          <div id="content" class="content carousel-wrap">
            {% block content %}{% endblock %}
          </div>

          <div id="footer" class="footer">
            {% block footer %}{% endblock %}
          </div>
          <span class="prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#b62f28" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
          </span>
          <span class="next">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#b62f28" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
          </span>
          <!-- The Modal -->
            <div id="openModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                <h2></h2>
                </div>
                <div class="modal-body">
                
                </div>
                <div class="modal-footer">
                
                </div>
            </div>

            </div>
        </div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('v1/js/app.js') }}"></script>
    </body>
</html>
