{% macro getCard(key, game) %}
    <div id="card" key="{{ key }}" class="item cards" action="start-game" rom="{{ game.rom }}">
        <img src="{{ asset('/images/' ~ game.picture) }}" alt="{{ game.title }}" height="400" width="280">
        <p>{{ game.title }}</p>
    </div>
{% endmacro %}