$backgroundColor: #cdc8c5 !default;

html {
    font-family: 'Controller Font' !important;
}

body {
    background-color: $backgroundColor;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
}

.next {
    right: 20px;
}

.prev {
    left: 20px;
}

.next svg, .prev svg {
    color: $headerTextColor;
    width: 50px;
}