.footer {
    padding: 0 20px 0 20px;
    position: absolute;
    bottom: 0;
    right: 5%;
    left: 5%;
    height: 75px;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-color: $headerBorderColor;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: $headerBackgroundColor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    color: $headerTextColor;
    box-shadow: 0 -3px 5px $headerBorderColor;
}

.footer .grid-1 {
    padding: 20px;
}

.footer .grid-1 .fps {
    
}

.footer .grid-2 {
    padding: 20px;
}

.footer .grid-3 {
    padding: 20px;
}

.footer .grid-3 #parameters {
    position: absolute;
    right: 70px;
    padding: 2px;
}

.footer .grid-3 #shutdown {
    position: absolute;
    right: 20px;
    padding: 2px;
}
