.header {
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-color: $headerBorderColor;
    background-color: $headerBackgroundColor;
    height: 100px;
    position: absolute;
    top: 0;
    right: 5%;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    color: $headerTextColor;
    box-shadow: 0 3px 5px $headerBorderColor;
    letter-spacing: 0.08em;
}

.header .grid-1 {
    padding: 20px;
    margin-top: 10px;
}

.header .grid-1 #title {
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 3em;
}

.header .grid-2 {
    padding: 20px;
}

.header .grid-2 #gamepad1 {
    position: absolute;
    left: 40%;
}

.header .grid-2 span {
    position: initial;
    display: inherit;
}

.header .grid-2 #gamepad2 {
    position: absolute;
    left: 60%;
}

#gamepad2 span {
    color: #284db6;
}

.header .grid-3 {
    padding: 20px;
    margin-top: 10px;
}

.header .grid-3 #profil {
    position: absolute;
    right: 20px;
    padding: 2px;
}