@font-face {
  font-family: "Controller Font";
  src: url("font/NES_Controller_MrShrike.ttf") format("truetype"), url("font/NES_Controller_MrShrike.eot") format("eot"), url("font/NES_Controller_MrShrike.svg") format("svg"), url("font/NES_Controller_MrShrike.woff") format("woff"); }

html {
  font-family: 'Controller Font' !important; }

body {
  background-color: #cdc8c5;
  overflow-x: hidden;
  overflow-y: hidden; }

.container {
  width: 85%;
  margin-right: auto;
  margin-left: auto; }

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer; }

.next {
  right: 20px; }

.prev {
  left: 20px; }

.next svg, .prev svg {
  color: #b62f28;
  width: 50px; }

.header {
  border-width: 0 3px 3px 3px;
  border-style: solid;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-color: #a8a4a3;
  background-color: #333;
  height: 100px;
  position: absolute;
  top: 0;
  right: 5%;
  left: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  color: #b62f28;
  box-shadow: 0 3px 5px #a8a4a3;
  letter-spacing: 0.08em; }

.header .grid-1 {
  padding: 20px;
  margin-top: 10px; }

.header .grid-1 #title {
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 3em; }

.header .grid-2 {
  padding: 20px; }

.header .grid-2 #gamepad1 {
  position: absolute;
  left: 40%; }

.header .grid-2 span {
  position: initial;
  display: inherit; }

.header .grid-2 #gamepad2 {
  position: absolute;
  left: 60%; }

#gamepad2 span {
  color: #284db6; }

.header .grid-3 {
  padding: 20px;
  margin-top: 10px; }

.header .grid-3 #profil {
  position: absolute;
  right: 20px;
  padding: 2px; }

.content {
  position: absolute;
  top: 50%;
  margin-top: -239px;
  left: 7%;
  right: 7%; }

.footer {
  padding: 0 20px 0 20px;
  position: absolute;
  bottom: 0;
  right: 5%;
  left: 5%;
  height: 75px;
  border-width: 3px 3px 0 3px;
  border-style: solid;
  border-color: #a8a4a3;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  color: #b62f28;
  box-shadow: 0 -3px 5px #a8a4a3; }

.footer .grid-1 {
  padding: 20px; }

.footer .grid-2 {
  padding: 20px; }

.footer .grid-3 {
  padding: 20px; }

.footer .grid-3 #parameters {
  position: absolute;
  right: 70px;
  padding: 2px; }

.footer .grid-3 #shutdown {
  position: absolute;
  right: 20px;
  padding: 2px; }

.owl-item {
  width: auto !important; }

.cards {
  background-color: #24292e;
  border: 1px #24292e solid;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 315px;
  margin: 15px 25px 15px 25px;
  position: relative;
  /* fix blank or flashing items on carousel */
  z-index: 100;
  /* fix blank or flashing items on carousel */
  -webkit-backface-visibility: hidden; }

.cards > img {
  border-radius: 12px; }

.cards > p {
  color: #cdc8c5;
  font-size: 26px;
  letter-spacing: 0.08em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0; }

#card.focus {
  box-shadow: 0px 0px 3px 4px #b62f28; }

#profil.focus {
  box-shadow: 0px 0px 3px 4px #b62f28;
  border-radius: 100%; }

#parameters.focus {
  box-shadow: 0px 0px 3px 4px #b62f28;
  border-radius: 100%; }

#shutdown.focus {
  box-shadow: 0px 0px 3px 4px #b62f28;
  border-radius: 100%; }
