@font-face {
    font-family: "Controller Font";
    src: url('font/NES_Controller_MrShrike.ttf') format('truetype'),
         url("font/NES_Controller_MrShrike.eot") format("eot"),
         url("font/NES_Controller_MrShrike.svg") format("svg"),
         url("font/NES_Controller_MrShrike.woff") format("woff"),
}

$headerBackgroundColor: #333 !default;
$headerTextColor: #b62f28 !default;
$headerBorderColor: #a8a4a3 !default;