<!-- The Modal -->
<div id="openModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2></h2>
    </div>
    <div class="modal-body">
      
    </div>
    <div class="modal-footer">
      
    </div>
  </div>

</div>