{% extends('@Nes/base.html.twig') %}

{% import '@Nes/nes/macro/card.html.twig' as Card %}

{% block header %}{% include '@Nes/nes/header/index.html.twig' %}{% endblock %}
{% block footer %}{% include '@Nes/nes/footer/index.html.twig' %}{% endblock %}

{% block content %}
    <div class="owl-carousel slide">
        {% for game in games %}
            {{ Card.getCard(loop.index, game) }}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('v1/js/jquery.min.js') }}"></script>
    <script src="{{ asset('v1/js/owl.carousel.min.js') }}"></script>
{% endblock %}
