$colorBackground: #24292e;

.owl-item {
  width: auto !important;
}

.cards {
  background-color: $colorBackground;
  border: 1px $colorBackground solid;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 16px;
  width: 315px;
  margin: 15px 25px 15px 25px;
  position: relative; /* fix blank or flashing items on carousel */
  z-index: 100; /* fix blank or flashing items on carousel */
  -webkit-backface-visibility: hidden;
}

.cards > img {
  border-radius: 12px;
}

.cards > p {
  color: #cdc8c5;
  font-size: 26px;
  letter-spacing: 0.08em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0;
}
