#card.focus {
    box-shadow: 0px 0px 3px 4px $headerTextColor;
}

#profil.focus {
    box-shadow: 0px 0px 3px 4px $headerTextColor;
    border-radius: 100%;
}

#parameters.focus {
    box-shadow: 0px 0px 3px 4px #b62f28;
    border-radius: 100%;
}

#shutdown.focus {
    box-shadow: 0px 0px 3px 4px #b62f28;
    border-radius: 100%;
}