.spinner {
    position: absolute !important;
    z-index: 2000000000;
    top: 50%;
    left: 50%;
}

.spinner-bg {
  z-index: 1000000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.45;
}